<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modmyi.com</key>
	<array>
		<string>.adsbygoogle{display:none!important}*{font-family:&quot;.HelveticaNeueDeskInterface-Regular&quot;;color:#fff;font-size:18px!important;-webkit-border-radius:0!important}a{color:rgba(255,255,255,.8)!important}fieldset&gt;a&gt;div&gt;label:first-child,fieldset&gt;a&gt;label:first-child,fieldset&gt;div&gt;div&gt;label:first-child,fieldset&gt;div&gt;label:first-child{font-weight:400!important;font-family:&quot;.HelveticaNeueDeskInterface-MediumP4&quot;!important}panel&gt;fieldset{margin-left:0!important;margin-right:0!important;border:none!important;background-color:rgba(0,0,0,.2)!important}panel&gt;label{color:rgba(255,255,255,.8)!important;text-shadow:none!important;font-size:21px;font-family:&quot;.HelveticaNeueDeskInterface-Bold&quot;!important}#mmPassback{display:none!important}body{background:none!important}div[id^=div-gpt-ad]{display:none!important}</string>
		<string>.adsbygoogle{display:none!important}*{font-family:&quot;.HelveticaNeueDeskInterface-Regular&quot;;color:#fff;font-size:18px!important;-webkit-border-radius:0!important}a{color:rgba(255,255,255,.8)!important}fieldset&gt;a&gt;div&gt;div&gt;label&gt;p{font-weight:400!important;font-family:&quot;.HelveticaNeueDeskInterface-MediumP4&quot;!important}panel&gt;block,panel&gt;fieldset{margin-left:0!important;margin-right:0!important;border:none!important;background-color:rgba(0.25,.25,.25,.25)!important}panel&gt;label{color:rgba(255,255,255,.8)!important;text-shadow:none!important;font-size:21px;font-family:&quot;.HelveticaNeueDeskInterface-Bold&quot;!important}#mmPassback{display:none!important}body{background:none!important}div[id^=div-gpt-ad]{display:none!important}</string>
	</array>
	<key>saurik.com</key>
	<array>
		<string>.adsbygoogle{display:none!important}*{font-family:&quot;.HelveticaNeueDeskInterface-Regular&quot;;color:#000;font-size:18px!important;-webkit-border-radius:0!important}a{color:rgba(0,0,0,.8)!important}fieldset&gt;a&gt;div&gt;div&gt;label&gt;p{font-weight:400!important;font-family:&quot;.HelveticaNeueDeskInterface-MediumP4&quot;!important}panel&gt;block,panel&gt;fieldset{margin-left:0!important;margin-right:0!important;border:none!important;background-color:rgba(255,255,255,.2)!important}panel&gt;label{color:rgba(0,0,0,.8)!important;text-shadow:none!important;font-size:21px;font-family:&quot;.HelveticaNeueDeskInterface-Bold&quot;!important}#mmPassback{display:none!important}body{background:none!important}div[id^=div-gpt-ad]{display:none!important}</string>
		<string>.adsbygoogle{display:none!important}*{font-family:&quot;.HelveticaNeueDeskInterface-Regular&quot;;color:#fff;font-size:18px!important;-webkit-border-radius:0!important}a{color:rgba(255,255,255,.8)!important}fieldset&gt;a&gt;div&gt;div&gt;label&gt;p{font-weight:400!important;font-family:&quot;.HelveticaNeueDeskInterface-MediumP4&quot;!important}panel&gt;block,panel&gt;fieldset{margin-left:0!important;margin-right:0!important;border:none!important;background-color:rgba(0.25,.25,.25,.25)!important}panel&gt;label{color:rgba(255,255,255,.8)!important;text-shadow:none!important;font-size:21px;font-family:&quot;.HelveticaNeueDeskInterface-Bold&quot;!important}#mmPassback{display:none!important}body{background:none!important}div[id^=div-gpt-ad]{display:none!important}</string>
	</array>
	<key>thebigboss.org</key>
	<array>
		<string>.adsbygoogle{display:none!important}*{font-family:&quot;.HelveticaNeueDeskInterface-Regular&quot;;color:#000;font-size:18px!important;-webkit-border-radius:0!important}a{color:rgba(0,0,0,.8)!important}fieldset&gt;a&gt;div&gt;div&gt;label&gt;p{font-weight:400!important;font-family:&quot;.HelveticaNeueDeskInterface-MediumP4&quot;!important}panel&gt;block,panel&gt;fieldset{margin-left:0!important;margin-right:0!important;border:none!important;background-color:rgba(255,255,255,.2)!important}panel&gt;label{color:rgba(0,0,0,.8)!important;text-shadow:none!important;font-size:21px;font-family:&quot;.HelveticaNeueDeskInterface-Bold&quot;!important}#mmPassback{display:none!important}body{background:none!important}div[id^=div-gpt-ad]{display:none!important}</string>
		<string>.adsbygoogle{display:none!important}*{font-family:&quot;.HelveticaNeueDeskInterface-Regular&quot;;color:#fff;font-size:18px!important;-webkit-border-radius:0!important}a{color:rgba(255,255,255,.8)!important}fieldset&gt;a&gt;div&gt;div&gt;label&gt;p{font-weight:400!important;font-family:&quot;.HelveticaNeueDeskInterface-MediumP4&quot;!important}panel&gt;block,panel&gt;fieldset{margin-left:0!important;margin-right:0!important;border:none!important;background-color:rgba(0.25,.25,.25,.25)!important}panel&gt;label{color:rgba(255,255,255,.8)!important;text-shadow:none!important;font-size:21px;font-family:&quot;.HelveticaNeueDeskInterface-Bold&quot;!important}#mmPassback{display:none!important}body{background:none!important}div[id^=div-gpt-ad]{display:none!important}</string>
	</array>
</dict>
</plist>
